<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="medewerker">
            <h2><span>Medewerker</span> {{medewerker.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Naam</span></dt>
                <dd>
                    <span>{{medewerker.naam}}</span>
                </dd>
                <dt><span>Achter Naam</span></dt>
                <dd>
                    <span>{{medewerker.achterNaam}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/medewerker', medewerker.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
